{% extends 'flask_user_layout.html' %}
{% block links %}
{% endblock %}
{% block content %}
    <tr height="170px">
        <td colspan="4" style="text-align:center">
          <h1>
            Login
          </h1>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="text-align:center">

        {% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {# Username or Email field #}
    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {# Label on left, "Neu hier? Registrieren." on right #}
        <div class="row">
            <div class="col-xs-6">
                <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
            </div>
            <div class="col-xs-6 text-right">
                {% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
                    <a class="agbs" href="{{ url_for('user.register') }}" tabindex='190'>
                        {%trans%}Neu hier? Registrieren.{%endtrans%}</a>
                {% endif %}
            </div>
        </div>
        {{ field(class_='form-control', tabindex=110) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>

    {# Password field #}
    {% set field = form.password %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {# Label on left, "Passwort vergessen?" on right #}
        <div class="row">
            <div class="col-xs-6">
                <label for="{{ field.id }}" class="control-label">Passwort</label>
            </div>
            <div class="col-xs-6 text-right">
                {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
                    <a class="agbs" href="{{ url_for('user.forgot_password') }}" tabindex='195'>
                        {%trans%}Passwort vergessen?{%endtrans%}</a>
                {% endif %}
            </div>
        </div>
        {{ field(class_='form-control', tabindex=120) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>

    {# Remember me #}
    {% if user_manager.USER_ENABLE_REMEMBER_ME %}
    {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
    {% endif %}

    {# Submit button #}
    <input type=submit class="submit" value=Einloggen>

</form>
        </td>
      </tr>
      <tr height="200px">
        <td>

        </td>
      </tr>
{% endblock %}