{% extends 'flask_user_layout.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% block links %}
  <a class="ui" href={{ url_for('user.login') }}>
    {%trans%}Log in{%endtrans%}
  </a>
{% endblock %}
{% block content %}
    <tr height="170px">
        <td colspan="4" style="text-align:center">
          <h1>
            Registrieren
          </h1>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="text-align:center">
<form action="" method="POST" novalidate formnovalidate class="form" role="form">
    {{ form.hidden_tag() }}
    {# Username or Email field #}
    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {# Label on left, "Neu hier? Registrieren." on right #}
        <div class="row">
            <div class="col-xs-6">
                <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
            </div>
            <div class="col-xs-6 text-right">
                {% if user_manager.USER_ENABLE_REGISTER %}
                    <a class="agbs" href="{{ url_for('user.login') }}" tabindex='290'>
                    {%trans%}Schon registriert? Einloggen.{%endtrans%}</a>
                {% endif %}
            </div>
        </div>
        {{ field(class_='form-control', tabindex=110) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% set field = form.password %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <div class="row">
            <div class="col-xs-6">
                <label for="{{ field.id }}" class="control-label">Passwort</label>
            </div>
        </div>
        {{ field(class_='form-control', tabindex=110) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% set field = form.retype_password %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <div class="row">
            <div class="col-xs-6">
                <label for="{{ field.id }}" class="control-label">Passwort wiederholen</label>
            </div>
        </div>
        {{ field(class_='form-control', tabindex=110) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <p>
        <input type=submit class="submit" value=Registrieren>
    </p>
</form>
        </td>
      </tr>
      <tr height="150px">
        <td>

        </td>
      </tr>
{% endblock %}