body {
    background-color: black;
}

td {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
}

p {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align:center;
}

a.ui {
    border: 1px solid;
    border-color:white;
    border-style:rounded;
    color:white;
    font-size:20px;
    padding:8px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin:5px;
}

a.ui:hover{
    background:white;
    color:black;
}

a.impressum {
    border: 0px;
    font-size: 14px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

a.impressum:hover{
    text-decoration:underline;
}

#footer {
  position: relative;
  min-height: 50px;
  display: flex;
  justify-content: center;
}

#footer-content {
  position: absolute;
  bottom: 0;
}

a.agbs {
    color:white;
}

a.agbs:hover {
    text-decoration: none;
}

input {
    border: 1px solid;
    border-color:white;
    border-style:rounded;
    font-size:16px;
    padding:5px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin:5px;
}

input:hover{
    background:white;
    color:black;
}

input.submit {
    background: black;
    color: white;
    border: 1px solid;
    border-color:white;
    border-style:rounded;
    font-size:20px;
    padding:8px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin:5px;
}

input.submit:hover {
    background: white;
    color: black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}