<!doctype html>
{% block head %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}VHS Kassetten digitalisieren</title>
  </head>
{% endblock %}
{% block header %}
  <body>
    <table width="100%">
      <tr>
        <td width="50px">
          <img  src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Kibuso" width="50" height="50"/>
        </td>
        <td>
            <a class="ui" href="{{ url_for('home_page') }}">
              Home
            </a>
        </td>
        <td>
        </td>
        <td style="text-align:right;">
          {% if current_user.is_authenticated %}
            {{ current_user.email }}!
          {% endif %}
          {% block links %}
          {% endblock %}
        </td>
      </tr>
      {% endblock %}
      {% block content %}

      {% endblock %}
      {% block footer %}
      <tr>
        <td colspan="4">
          <center>
            <a class="impressum" href="http://domain.invalid/">
              Impressum
            </a>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock %}