{% extends "flask_user_layout.html" %}
{% block links %}
    {% if current_user.is_authenticated %}
        <a class="ui" href={{ url_for('user.logout') }}>
        {%trans%}Log out{%endtrans%}
        </a>
    {% else %}
        <a class="ui" href={{ url_for('user.register') }}>
        {%trans%}Registrieren{%endtrans%}
        </a>
        <a class="ui" href={{ url_for('user.login') }}>
        {%trans%}Log in{%endtrans%}
        </a>
    {% endif %}

{% endblock %}
{% block content %}
      <tr height="50px">
        <td colspan="4" style="text-align:center">
          <h1>
            Home
          </h1>
        </td>
      </tr>
      <tr>
        <td colspan="4">
            <table width="500px" class="center">
              <tr>
                <td>
                  <p>
                    {%trans%}Digitalisieren Sie Ihre VHS-Kassetten.{%endtrans%}
                  </p>
                  <p>
                    {%trans%}Es ist faszinierend und teilweise auch peinlich sich selbst auf alten Aufnahmen, aus lang vergangener Zeit, zu sehen. Auf jeden Fall bleiben die alten VHS-Aufnahmen für die Ewigkeit, wenn sie digitalisiert sind.{%endtrans%}
                  </p>
                  <p>
                    {%trans%}Sie schicken uns Ihre Video Kassette(n), wird digitalisieren die Aufnahme und schicken Ihnen einen Link per Email, wo Sie die Aufnahmen herunterladen können. Auf diesen Link können nur Sie zugreifen.{%endtrans%}
                  </p>
                  <p>
                    {%trans%}Bei uns bezahlen Sie 6,95 € pro max. 4 Stunden Kassette.{%endtrans%}
                  </p>
                  <p>
                    {%trans%}Wenn Sie die Kassette wieder haben wollen, kostet das 5 € Versandkosten pro Kassette. Sonst können wir die Kassette entsorgen.{%endtrans%}
                  </p>
                  <p>
                    {%trans%}Ihre Video Kassette darf nicht beschädigt sein. Wie übernehmen keine Haftung für Ihre Video Kassette.{%endtrans%}
                  </p>
                  <p>
                    {%trans%}Ihr vhs-kassette-digitalisieren.de Team{%endtrans%}
                  </p>
                  <p style="text-align:center;padding:10px;">
                    <a class="ui" href=
                            {% if current_user.is_authenticated %}
                              {{ url_for('member_page') }}>
                            {% else %}
                              {{ url_for('user.login') }}>
                            {% endif %}
                      {%trans%}Bestellen{%endtrans%}
                    </a>
                  </p>
                </td>
              </tr>
            </table>
        </td>
      </tr>
      <tr height="10px">
        <td>

        </td>
      </tr>
{% endblock %}