{% extends 'flask_user_layout.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% block links %}
  <a class="ui" href={{ url_for('user.logout') }}>
    {%trans%}Log out{%endtrans%}
  </a>
{% endblock %}
{% block content %}
    <tr height="170px">
        <td colspan="4" style="text-align:center">
          <h1>
            {{ current_user.email }}
          </h1>
        </td>
      </tr>
      <tr>
          <td colspan="4" style="text-align:center">
              Füllen Sie Ihre Rechnungsdaten aus
          </td>
        <td colspan="4" style="text-align:center">

        </td>
      </tr>
      <tr height="150px">
        <td>

        </td>
      </tr>
{% endblock %}