{% extends "flask_user_layout.html" %}
                {% block content %}
                    <h2>{%trans%}Home page{%endtrans%}</h2>
                    <p><a href={{ url_for('user.register') }}>{%trans%}Register{%endtrans%}</a></p>
                    <p><a href={{ url_for('user.login') }}>{%trans%}Sign in{%endtrans%}</a></p>
                    <p><a href={{ url_for('home_page') }}>{%trans%}Home Page{%endtrans%}</a> (accessible to anyone)</p>
                    <p><a href={{ url_for('member_page') }}>{%trans%}Member Page{%endtrans%}</a> (login_required: member@example.com / Password1)</p>
                    <p><a href={{ url_for('admin_page') }}>{%trans%}Admin Page{%endtrans%}</a> (role_required: admin@example.com / Password1')</p>
                    <p><a href={{ url_for('user.logout') }}>{%trans%}Sign out{%endtrans%}</a></p>
                {% endblock %}

{% block header %}
  <body>
    <table width="100%">
      <tr>
        <td width="50px">
          <img  src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Kibuso" width="50" height="50"/>
        </td>
        <td>
          <a class="ui" href="{{ url_for('home_page') }}">
            {%trans%}Home{%endtrans%}
          </a>
        </td>
        <td style="text-align:right;">
          <a class="ui" href={{ url_for('user.register') }}>
            {%trans%}Registrieren{%endtrans%}
          </a>
          <a class="ui" href={{ url_for('user.login') }}>
            {%trans%}Log in{%endtrans%}
          </a>
        </td>
      </tr>
{% endblock %}